<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link href="/css/index.css" rel="stylesheet"/>
  <!-- add emoji's to your application view: http://afeld.github.io/emoji-css/ -->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body> 

  <div class="container">


  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

