<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link href="/css/index.css" rel="stylesheet"/>
  <!-- twitter bootstrap styling: http://getbootstrap.com/2.3.2/base-css.html -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- add emoji's to your application view: http://afeld.github.io/emoji-css/ -->
  <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
</head>
<body> 

  <div class="container">



  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>

