<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="container">

    <h1>Post a status!</h1>
    <form action="/status" method="POST">
      <p>username: <input type="text" name="username"></p>
      <p>status: <input type="text" name="status"></p>
      <input type="submit">
    </form>

  </div>

</body>
</html>

