<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link href="/css/index.css" rel="stylesheet"/>
</head>
<body> 

  <div class="container">

  </div>

</body>
</html>